body{
    margin: unset;
    padding: unset;
    background: url("../images/main-bg.jpeg");
    background-size: cover;  
}

nav , footer{
    position:absolute;
    width:100%;
    height: 4%;
    padding-top: 0.5%;
    background:rgba(47, 55, 63, 0.842);
    text-align: center;
    color: cornsilk;
    font-size: larger;
}
nav{
    top:0;
}
footer{
    display:none  ;
    bottom:0;
}

.main-window{

    margin: auto;
    width: 900px;
    height: 700px;
    margin-top: 7%;
    border: solid 3px white;
    background-color:rgba(75, 75, 75, 0.44);
}
.avatar-img{
    width: 12%;
    height: 13%;
    margin-top: 2%;
    margin-left: 2%;
    border: 3px solid rgb(73, 11, 9);
    cursor: pointer;
    margin-bottom: 2%;
    display: inline;

}


.option{
    text-align: center;
    background-color:rgb(62, 206, 138,0.4);
    padding: 2%;
    margin-top: 3%;
    font-size: larger;
    font-family:sans-serif;
    color: white;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}
.option:hover{

    background-color:rgba(24, 11, 98, 0.8);
}

/* CoronaVirus Animation
Default speed is: 10s
MoveUpDown is a keyFrames that define the position*/
.covid-icon{
    width: 100px;
    height:100px ;
}
.animatediv{

    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    right: 40%;
    }
  /* position of corona animation */
  @keyframes MoveUpDown {
    0%, 100% {
      top: 20%;
    }
    50% {
      top: 30%;
    }
}
  
.animatediv2{

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    right: 60%;
    }
    /* position of corona animation */
    @keyframes MoveUpDown {
    0%, 100% {
        top: 15%;
    }
    50% {
        top: 25%;
    }
}
h2{
    text-align:center;
    font-size: xx-large;
    margin-top: unset;
    padding-top: unset;
    color:#fff;
    text-shadow: 0px 1px 2px #000;
    
  }
   /* .header-section {

    height : 200px ; 

  }  */

  #credits_s{
    border:3px   solid black;
   width: 860px; 
   height: 400px;
   margin-left: 10px;
   margin-top: 50px ;

  }
  #credits_s h1 {
    text-align: center;

  }
  #credits_s p {
    padding-left: 4px;

  }
  #backBtn{
 
margin-left: 20px;

 /* height: 30px ;  */
  width: 50px ;
  background-color: black;
  border-radius: 50%;
  color: #fff;
  margin-left: 45px;

  }

#logoutOption>a{
  text-decoration: none;
}


#logoutOption>a:visited{
  text-decoration: none;
  color: white;
}

.insideGame{
  text-align: center;
  background-color:rgb(62, 206, 138,0.4);
  padding: 2%;
  margin-top: 3%;
  font-size: larger;
  font-family:sans-serif;
  color: white;
  font-style: italic;
  cursor: pointer;
  user-select: none;
}
.insideGame:hover{

  background-color:rgba(24, 11, 98, 0.8);
}
.selectCharacter-section {text-align: center;
  width: 80%;
  font-size: 100%;
  font-family: 'Lora', serif;
  color: white;
  background-image: url("");
    background-size: 150px;
    padding-left: 10%;
  }
  
  .selectCharacter-section div {
    display: inline;
    /* padding-bottom: 40px ; */
  }
  /* .selectCharacter-section h1 {
    background-color: #000;
    border-radius: 30%;
    padding-top: 40px ;
  } */

  svg {
    display: block;
    font: 100px  'choose your character';
    width: 720px;
    height: 100px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #217094;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #354b88;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #b41e64;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


/*     
  body {
    
  } */
  /* .character{
    padding-bottom: ;


  } */
  
  
  #ali {
    width: 26%;
    height: 25%;
    margin-left: 10%;
    margin-top: 20%;  
    padding-bottom: 90px;

    transition:transform 0.25s ease;

  }
  
  #aliaa {
    width: 20%;
    height: 21%;
    margin-left: 10%;
    margin-top: 17%;
    padding-bottom: 100px;
    transition:transform 0.25s ease;

  }

  #ali:hover{
      
      -webkit-transform:scale(1.5); /* or some other value */
      transform:scale(1.5);

  }
  #aliaa:hover{
      
      -webkit-transform:scale(1.5); /* or some other value */
      transform:scale(1.5);

  }
 
/*   
  @keyframes big {
    0% {
      width: 20%;
    }
    
    50% {
      width: 30%;
    }
    
    100% {
      width: 20%;
    }
    
  } */