.container{

    margin: auto;
    margin-top: 5px;
}
.iconsContainer{

    border: 2px solid black;
    margin:auto;
    background: lightgray;
    width: 604px;
    height: 80px;
}
.musicContainer{

    display: inline-block;
    width: 300px;
    height: 80px;
    background: cadetblue;
}
.accountContainer{

    display: inline-block;
    width: 300px;
    height: 80px;
    background: cadetblue;
}

.musicIcon, .accountIcon {

    width: 300px;
    height: 80px;
    cursor: pointer;
}

.accountForm{

    border: 2px solid black;
    padding-bottom: 20px;
    margin:auto;
    background: lightgray;
    width: 604px;
    height : 350px ;
}
.musicForm{

    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    background: lightgray;
    width: 604px;
}
.musicItem{

    margin-left: 90px;
    width: 400px;
}
.musicButtonsContainer{

    padding-left: 25px;
}
.musicButtons{

    margin-top: 20px;
    height: 50px;
    width: 134px;
    cursor: pointer;
}
.formElement{

    margin-top: 10px;
    font-size: 30px;
    padding-left: 15px;
    border-radius: 5px;
    display: inline-block;
    width: 280px;
    height: 50px;
}
.formButton{

    margin-top: 10px;
    margin-left: 5px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    display: inline-block ; 
}

audio{

    display: none;
}
.musicLi{

    margin-top: 20px;
}
.musicLi span{

    font-size: 30px;
    display: inline-block;
    width: 460px;
}
.musicLi img{

    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    width: 50px;
}
.errors{

    background:pink;
    border:1px solid red;
    width: 280px;
}
.formErrors {

    padding: 0px;
    font-size: 25px;
    width: 400px;
    margin-left: 20px;
    display: inline;
}
#musicAlbum{

    font : 10px ; 
}

.parent{
    display: flex;
}